@import 'config',
'menu',
'resets',
'hero',
'project',
'work',
'extension',
'customize',
'plan',
'every',
'data',
'sponsor',
'favorite',
'client',
'try',
'footer',
'responsiveness'
;

body {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #4F9CF9;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.zoom-effect {
    opacity: 0;
    transition: 500ms ease-in;
    transform: scale(0.9);
}

.scrolled {
    opacity: 1;
    transform: scale(1);
    transition: 500ms ease-in;
}